<div class="page" data-name="calculator">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <i class="icon f7-icons ios-only">menu</i>
                    <i class="icon material-icons md-only">menu</i>
                </a>
            </div>
            <div class="title">About</div>
        </div>
    </div> 
    <div class="page-content">
        <div class="card">
            <div class="card-content card-content-padding">
                <p style="text-align: center">
                    <i class="icon f7-icons ios-only">info</i>
                    <i class="icon material-icons md-only">info</i>
                </p>
                <p>This application provides a potential profitability of your real estate and can not guarantee that a result of a calculation will coincide with a real profit.</p>
                <p>To precise the calculations you have to know the actual insurance and mortgage rates.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content card-content-padding">
                <p style="text-align: center">
                    <i class="icon f7-icons ios-only">email</i>
                    <i class="icon material-icons md-only">email</i>
                </p>
                <p>
                    If you have any question or want to report an issue send a email to this address <b>realestateprofitcalculator@gmail.com</b>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-content card-content-padding">
                <p>Best of the luck become a financially independent!</p>
            </div>
        </div>
    </div>
</div>
