<div class="page" data-name="calculator">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <i class="icon f7-icons ios-only">menu</i>
                    <i class="icon material-icons md-only">menu</i>
                </a>
            </div>
            <div class="title">{{item.name}}</div>
            <div class="right">
                <a class="link popover-open" href="#" data-popover=".popover-help">
                    <i class="icon f7-icons ios-only">help</i>
                    <i class="icon material-icons md-only">help</i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div data-widget="calculator"></div>

        <!-- Popovers -->

        <div class="popover popover-help">
            <div class="popover-angle"></div>
            <div class="popover-inner">
                <div class="block">
                    <p>1. This calculator assesses a profitability of the buying property with a loan</p>
                    <p>2. The gray highlighted cells are editable. To change a parameter click on it and enter a value in the opened dialog</p>
                    <p>3. To precise the calculations you have to carefully fill out all the fields</p>
                    <p>4. The insurance and tax rates can depend on your local area policies and lenders</p>
                    <p>5. You can share your assessment by email using the form on the bottom of the page</p>
                </div>
            </div>
        </div>
    </div>
</div>
