<div class="page" data-name="main">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                    <i class="icon f7-icons ios-only">menu</i>
                    <i class="icon material-icons md-only">menu</i>
                </a>
            </div>
            <div class="title">Real estate profit calculator</div>
        </div>
    </div>
    <div class="page-content">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-content card-content-padding">
                <h3>Welcome to the investor assistant!</h3>
                <p>This application will help the investors to assess a potential opportunities of the purchased property.</p>
            </div>
            <div class="card-footer">
                <a href="/calculator" class="link">Calculate a profitability of your real estate!</a>
            </div>
        </div>
    </div>
</div>
